[submodule "firmware/lib/mlib_devel"]
	path = firmware/lib/mlib_devel
	url = https://github.com/realtimeradio/mlib_devel
[submodule "software/casperfpga"]
	path = software/casperfpga
	url = https://github.com/realtimeradio/casperfpga
[submodule "firmware/lib/device-tree-xlnx"]
	path = firmware/lib/device-tree-xlnx
	url = https://github.com/Xilinx/device-tree-xlnx/
[submodule "software/zynq/katcp_devel"]
	path = software/zynq/katcp_devel
	url = https://github.com/realtimeradio/katcp_devel
